@using Test.Models
@model IndexViewModel

@{
    ViewBag.Title = "Список отделов";

}


<table class="table">
    <tr><td>Наименование отдела:</td><td>Должности:</td><td>Действия:</td></tr>
    @foreach (var item in Model.Departments)
    {

        <tr>
            <td>@item.Department_Name</td>
            <td>
                <ul>
                    @foreach (var c in item.Positions)
                    {

                        <li>@c.Position_Name</li>

                    }
                </ul>
            </td>


            <td>

                <a asp-action="DepartmentEdit" asp-controller="Department" asp-route-id="@item.Id">Изменить</a> |
                <a asp-action="DepartmentDelete" asp-controller="Department" asp-route-id="@item.Id">Удалить</a>|
                <a asp-action="DepartmentDetails" asp-controller="Department" asp-route-id="@item.Id">Детали</a>

            </td>

        </tr>
    }
</table>
@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="ViewDepartments"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       class="btn btn-outline-dark">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="ViewDepartments"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       class="btn btn-outline-dark">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}