@model Test.Models.Employee
@using Test.Models
@{
    ViewBag.Title = Model.Employee_Last_Name;
}

<h2>Сотрудник: @Model.Employee_Last_Name</h2>
<table class="table">

    <tr><td>Фамилия:</td><td>Отчество</td><td>имя:</td></tr>

    <tr>
        <td>@Model.Employee_Last_Name</td>
        <td>@Model.Employee_Middle_Name </td>
        <td>@Model.Employee_Name</td>
        <td>@Model.Employee_Email</td>
        

        <ul>
            @foreach (var c in Model.Tasks)
            {

                <li>@c.Task_Name</li>

            }
        </ul>
    </tr>

</table>

